h1 {
    text-align: center;
    margin-top: 10px;
}

body {
    max-width: 800px;
    background-color: rgb(167, 161, 161);
    margin:auto;
    border: 5px solid black;
}

html {
    background-image: url(https://images.pexels.com/photos/1657332/pexels-photo-1657332.jpeg?cs=srgb&dl=pexels-mart%C3%AD-pardo-1657332.jpg&fm=jpg&_gl=1*3qu5d8*_ga*ODg1MTE4MTgzLjE2Njg0NjYxNTc.*_ga_8JE65Q40S6*MTY2ODQ2NjE1Ny4xLjEuMTY2ODQ2Njc5NC4wLjAuMA..);
    background-attachment: fixed;
    background-position: 0%;
    background-size: 50%;   
}

div {
    margin-left: 8px;
}

h3 {
    margin-left: 8px;
}

p {
   margin-left: 8px;  
}

dd {
    margin: 0px;
}

dt {
    margin-top:10px;
}

button {
    color: black;
    border: 3px solid black;
    padding: 5px;
}

button:active{
    box-shadow: 0 3px black;
    transform: translateY(4px);
}

